{% load static %}

<html>

<head>
    <title>
        articles
    </title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <header class="wrapper">

        <nav class="navbar navbar-dark bg-dark">
            <h1><a class="navbar-brand" href="{% url 'home' %}">ARTICLE LOGO</a></h1>
            <ul class="navbar-nav">
                {% if user.is_authenticated%}
                <li class="nav-item">
                    <form action="{% url 'accounts:logout'%}" method="post" class="logout-link">
                        {% csrf_token%}
                        <button class="btn btn-success pull-right" type="submit">Logout</button>
                    </form>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'articles:create' %}" class="highlight">new
                        article</a>
            </ul>
            {% else %}
            <ul class="navbar-collapse justify-content-end">
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}">Signup</a></li>
            </ul>

            {% endif %}

        </nav>
    </header>
    <div class="wrapper">
        {% block content%}
        {%endblock%}
    </div>
</body>

</html>